/* 
  Write here your CSS rules for HackYourRepo!
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#selection {
  height: 5vh;
  width: 20vw;
  outline-style: none;
}
@media (max-width: 780px) {
  #title {
    flex-direction: column;
    padding: 1rem;
  }
  #selection {
    width: 40vw;
  }
}
main {
  height: 85vh;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(181, 188, 143); */
}
.error {
  display: none;
  background-color: #f8d7da;
  color: #721c24;
  height: 4vw;
  align-items: center;
}
#info {
  display: flex;
  /* background-color: rosybrown; */
  width: 50%;
  height: 100%;
  padding: 1%;
}
p {
  width: 100%;
  padding: 1rem;
  /* background-color: sienna; */
}
#list {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  /* margin-bottom: 50vh; */
  flex-direction: column;
  align-items: center;
}
td:nth-child(2) {
  padding-left: 2vw;
}
.bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button {
  width: 2rem;
  height: 2rem;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #7cbdd6;
  margin: 0.1rem;
  transition: 0.4s;
  color: #fff;
  text-shadow: 0, 0, 0, 0rem rgba(0, 0, 0, 0.2);
  box-shadow: 0, 0, 0, 0rem rgba(0, 0, 0, 0.2);
}
.button:hover {
  background-color: #4c1caa;
}
.button.active {
  background-color: #4c1caa;
  box-shadow: inset 0, 0, 0, 0rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
  }
  #info,
  #list {
    width: 100%;
  }
}
.person {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.1rem 1.5rem;
  /* background-color: rgb(41, 128, 87); */
  justify-content: flex-start;
  align-items: center;
}
.badge {
  width: 5vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  background: darkgrey;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
}
@media (max-width: 600px) {
  /* .badge {
    margin-left: 2vw;
  } */
}
img {
  margin: 1vw;
}
td {
  vertical-align: top;
}
.card {
  border-radius: 2px;
  font-size: 2vmin;
  line-height: 1.6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.2rem;
}
.footer {
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  padding: 5vh;
  align-items: center;
}
